.header {
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    font-family: 'Fira Sans', sans-serif;
}

.span1Header {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.headerSpan2 {
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.span1Header {
    cursor: pointer;
}


.span1Header:hover {
    color: #dd37a6;
    transform: scale(1.02);
}

.headerSpan2:hover {
    color: #00f0ff;
    transform: scale(1.2);
}

.headerSpan2::after {
    content: "";
    display: block;
    width: 0;
    height: 2px;
    background: #00f0ff;
    transition: width 0.3s;
    position: absolute;
    bottom: -4px;
    left: 0;
}

.headerSpan2:hover::after {
    width: 100%;
}


@media (max-width: 900px) {

    .header .span1Header,
    .header .headerSpan2 {
        font-size: 12px;
    }

}